.menu{
    margin: 0 auto;
}

.menu ul {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu ul li{
    text-align: center;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
   
}

.menu ul li a {
    text-decoration: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    display: block;
    color:black;
    text-transform: uppercase;
 
}


h1{
    text-align: center;
    text-transform: uppercase;
}

.card-body{
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 500px;
}


  
  .block-profile{
    margin-top:25px;
    margin-right: 20px;
  }

  .block-profile ul {
    list-style: none;
    
  }

  .block-profile ul li {
    border-bottom: 1px solid white;
    margin-top:10px;
    font-size: 20px;
    color:black;
  }

  .block-profile p {
    display: inline;
    margin-left: 5px;
    color:black;
  }



@media (max-width:1180px) {

   img{
       width: 390px;
   }
  
  
  }