html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    /*background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/

    background-image: linear-gradient(-45deg,#2C3E50, #27AE60, #EE7752, #E73C7E, #23A6D5, #23D5AB, #8E44AD);
    background-size: 400% 400%;
    animation: cambio 10s ease-in-out infinite;
    /*animation: transicion 1s;*/
}

/*
 * Custom translucent site header
 */
.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: white;
    text-decoration: none;
}

/*
*  main
*/
main{
    margin-top: 75px;
}

/*
*  Custom footer
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    text-align: center;
    color: #fff;
}

@keyframes cambio
{
  0%
  {
    background-position: 0 50%;
  }
  50%
  {
    background-position: 100% 50%;
  }
  100%
  {
    background-position: 0 50%;
  }
}

/*@keyframes transicion
{
  from
  {
    opacity:0;
    transform: translateY(-10px);
  }

  to
  {
    opacity: 1;
    transform: translateY(0);
  }
}
*/
