#header {
    width: 100%;
    height: 65px;
    background: rgb(13, 6, 53);
    color: white;
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 100;
  }

  .main-header{
    width: 98%;
    margin: 0 auto;
  }

  .main-header img {
    width: 63px;
    float: left;
    border-radius: 150px;
  }


  #menu-bar{
    display: none;
  }



  #header label {
    float: right;
    font-size: 30px;
    margin: 15px 5px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(22, 17, 68, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  .menu a {
    display: block;
    color:white;
    text-transform: uppercase;
    height: 65px;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255,255,0.5);
  }

  .menu a:hover{
    background: rgba(255, 255,255,0.3);;
  }


  #header .main-header {
    display:table; /*limpia la flotacion */
  }

  #menu-bar:checked ~ .menu {
    transform: translateX(0%);
  }



 @media (min-width:1100px) 
{
 
    #header label{
      display:none;
    }

    .menu {
      transform: none;
      transition:none;
      display: flex;
      justify-content: center;
      top: 0 ;
      right: 0;
      height: 65px;
      background: 0;
      
    }

    .menu ul {
        display: flex;
        list-style: none;
        padding: 0;
      }

    .menu a {
      font-size:  15px;
      border:none;
    }



    
}

*
, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controles {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .esconder {
    display: none;
  }