@import url(menu.css);
@import url(footer.css);



@font-face {
  font-family: "grendel";
  src: url("../fuentes/grendel.ttf");
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }



  .container{
    margin: 0 auto;
    width: 100%;
    position: relative;
  
  }


  .main-container{
    margin: 0 auto;
    margin-top: 150px;
    width: 80%;
    background: rgb(13, 6, 53);
    border-radius: 5px;
  }


  /* CONTENEDOR TITULO - EDIT PERFIL */
  .intro{
    margin: 0 auto;
    width: 95%;
    overflow: hidden;
    border-bottom: 1px solid black;
  }



  h1{
    float: left;
    color:white;
    font-size: 35px;
    margin-left: 10px;
  }

  .edit {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
  }

  .edit a {
    font-size:15px;
    padding: 3px 7px;
    color: red;
    background:white;
    text-decoration: none;
    border-radius: 3px;
    text-shadow: #222 0 1px 0;
  }

  /*CONTENEDOR PROFILE */

  .profile{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }

  .profile h2 {
  color:white;
 }

  .profile img {
    width:300px;
    float: left;
    margin-top:25px;
    margin-left:30px;
  }

  .block-profile{
    float: right;
    width: 40%;
    margin-top:25px;
    margin-right: 20px;
  }

  .block-profile ul {
    list-style: none;
    
  }

  .block-profile ul li {
    border-bottom: 1px solid white;
    margin-top:10px;
    font-size: 20px;
    color:white;
  }

  .block-profile p {
    display: inline;
    margin-left: 5px;
    color:white;
  }

/* BLOQUE LOGROS  */

.ranking{
  width: 80%;
  margin: 0 auto;  
  margin-top: 50px;
}

.ranking h2 {
  text-align: center;
  font-size:40px;
  color:white;
  text-decoration: underline white;
}

.block-ranking{
 
}

.block-ranking ul{
  margin: 0  auto;
  margin-top:30px;
  text-decoration: none;
}

.block-ranking ul li {
  text-align: center;
  list-style: none;
}

.block-ranking ul li p  {
  font-size: 50px;
  color :white
}

  


/* MEDIAS QUERIES */

@media (min-width:900px) {


  .main-container{
    width: 60%;

    
  }
  .profile{
    width: 90%;
    margin: 0 auto;
  }

  


}



@media (max-width:1180px) {

  .main-container{
    width: 80%;
    height: 120%;
  
  }

  .profile{
    width: 100%;
    
  }


}