#header {
    width: 100%;
    height: 65px;
    background: rgb(13, 6, 53);
    color: white;
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 100;
  }

  .main-header{
    width: 98%;
    margin: 0 auto;
  }

  .main-header img {
    width: 63px;
    float: left;
    border-radius: 150px;
  }

  #menu-bar{
    display: none;
  }

  #header label {
    float: right;
    font-size: 30px;
    margin: 15px 5px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(22, 17, 68, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  a {
    display: inline-block;
    position: relative;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
    height: 65px;
    padding: 15px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

   a:hover{
    color: #050801;
    background: #03E9F4;
    box-shadow: 0 0 5px #03E9F4,
                0 0 25px #03E9F4,
                0 0 50px #03E9F4,
                0 0 200px #03E9F4;
    transition-delay: 0.5s;*/
  }
  a span
  {
    position: absolute;
    display: block;
  }
   a span:nth-child(1)
  {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03E9F4);
    animation: animacion1 1s linear infinite;
  }

  @keyframes animacion1
  {
    0%
    {
      left: -100%;
    }
    50%,100%
    {
      left: 100%;
    }
  }
  a span:nth-child(2)
 {
   top: -100%;
   right: 0;
   width: 2px;
   height: 100%;
   background: linear-gradient(180deg, transparent, #03E9F4);
   animation: animacion2 1s linear infinite;
   animation-delay: 0.25s;
 }

 @keyframes animacion2
 {
   0%
   {
     top: -100%;
   }
   50%,100%
   {
     top: 100%;
   }
 }
 a span:nth-child(3)
 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03E9F4);
  animation: animacion3 1s linear infinite;
  animation-delay: 0.43s;
 }

 @keyframes animacion3
 {
  0%
  {
    right: -100%;
  }
  50%,100%
  {
    right: 100%;
  }
 }
 a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03E9F4);
  animation: animacion4 1s linear infinite;
  animation-delay: 0.62s;
}

@keyframes animacion4
{
  0%
  {
    bottom: -100%;
  }
  50%,100%
  {
    bottom: 100%;
  }
}


  #header .main-header {
    display:table; /*limpia la flotacion */
  }

  #menu-bar:checked ~ .menu {
    transform: translateX(0%);
  }

  footer
  {
    width: 100%;
    height: 100px;
    background: rgb(13, 6, 53);
    position: fixed;
    bottom: 0;
    clear: both;
    left: 0;
  }

  footer img {
    width: 62px;
    border-radius: 150px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;

  }

  footer ul {
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  footer ul li  {
    padding: 5px 10px;
    list-style: none;
  }
  footer ul li a {
    color: white;
  }


 @media (min-width:1100px)
{

    #header label{
      display:none;
    }

    .menu {
      transform: none;
      transition:none;
      display: flex;
      justify-content: center;
      top: 0 ;
      right: 0;
      height: 65px;
      background: 0;

    }

    .menu ul {
        display: flex;
        list-style: none;
        padding: 0;
      }

    .menu a {
      font-size:  15px;
      border:none;
    }

}
